@import 'vars.scss';
@import 'fonts.scss';

html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: border-box;
}

// null start

body{
    min-width: 320px;
    overflow-x: hidden;
    font-family: 'Roboto-regular', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'RobotoCondensed-regular', Arial, Helvetica, sans-serif;
    margin: 0;
}

button{
    padding: 0;
    cursor: pointer;
    border: 0;
}

a{
    text-decoration: none;
    color: $acent;
}

// null end
// container start

.container{
    padding: 0 20px;
}

@media (min-width: 640px) {
    .container{
        padding: 0 30px;
    }   
}

@media (min-width: 768px) {
    .container{
        padding: 0 40px;
    }   
}

@media (min-width: 1024px) {
    .container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 40px;
    }   
}

@media (min-width: 1440px) {
    .container{
        max-width: 1320px;
    }   
}

// container end
// header start

.header{
    background-color: $acent;
    &__inner{
        min-height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 640px) {
    .header{
        &__inner{
            min-height: 100px;
        }
    }
}

.logo__link{
    margin-left: 8px;
}

@media (min-width: 640px) {
 .logo__link{
     margin-left: 14px;
 }   
}

@media (min-width: 768px) {
    .logo__link{
        margin-left: 0px;
    }   
   }

.menu__btn{
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background-color: #fff;
    border: 0;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        width: 12px;
        height: 2px;
        background-color: $acent;
        border-radius: 1px;
        top: 15px;
        left: 14px;
        box-shadow: 0 4px 0 0 $acent, 0 9px 0 0 $acent;
    }
}

@media (min-width: 1440px) {
    .menu__btn{
        margin-left: 90px;
    }
}

// header end
// hero content start
// slider start

.hero{
    background: url(../img/bg.jpg) no-repeat center center, rgba(33, 33, 33, 0.5);
    background-size: cover;
    min-height: 193px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: relative;
    z-index: 1;
}

@media (min-width: 640px) {
    .hero{
        min-height: 386px;
    }
}

@media (min-width: 768px) {
    .hero{
        min-height: 465px;
    }
}

@media (min-width: 1024px) {
    .hero{
        min-height: 618px;
    }
}

@media (min-width: 1440px) {
    .hero{
        min-height: 668px;
    }
}

.top-slider{
    &__item{
        color: #fff;
        text-align: center;
    }
    &__title{
        line-height: 28px;
        font-size: 28px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 36px 0 28px;
        width: 243px;
        margin: 0 auto;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            right: 50%;
            transform: translate(-50%, -50%);
            width: 61px;
            height: 8px;
            background-color: $text-color;
        }
    }
}

// slick css start

.slick-dots{
    margin: 30px auto;
    width: 50px;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    & li{
        list-style: none;
        font-size: 0;
        button {
            width: 10px;
            height: 10px;
            background-color: $acent;
            border-radius: 50%;
            border: 0;
        }
        &.slick-active button{
            border: 1px solid #476E4D;
            background: inherit;
        }
    }
}

@media (min-width: 640px) {
    .slick-dots{
        position: absolute;
        bottom: 38px;
        left: 50%;
        right: 50%;
        transform: translate(-50%, 50%);
        margin-top: 53px;
    }
}

@media (min-width: 1024px) {
    .slick-dots{
        bottom: 75px;
    }
}

@media (min-width: 1440px) {
    .slick-dots{
        bottom: 78px;
        & li {
            button {
                background-color: #fff;
            }
            &.slick-active button{
                border: 1px solid #fff;
                background: inherit;
            }
        }
    }
}

.slick-arrow{
    position: absolute;
    right: 0;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    z-index: 5;
    cursor: pointer;
    &_next{
        bottom: calc(50% - 56px);
        background-color: #F9F6E5;
    }
    &_prev{
        top: calc(50% - 56px);
        background-color: $acent;
    }
}

@media (min-width: 640px) {
    .top-slider{
        &__item{
            min-height: 386px;
        }
        &__title{
            font-size: 60px;
            line-height: 60px;
            padding: 50px 0 20px;
            margin: 0 auto 30px;
            width: 520px;
        }
    }
}

@media (min-width: 768px) {
    .top-slider{
        &__item{
            min-height: 465px;
        }
        &__title{
            padding: 87px 0 33px;
            margin-bottom: 0;
            &::after{
                display: none;
            }
        }
    }
}

@media (min-width: 1024px) {
    .top-slider{
        &__item{
            min-height: 618px;
        }
        &__title{
            font-size: 84px;
            line-height: 84px;
            letter-spacing: 2px;
            padding: 123px 0 37px;
        }
    }
}

@media (min-width: 1440px) {
    .top-slider{
        &__item{
            min-height: 668px;
        }
        &__title{
            font-size: 96px;
            line-height: 96px;
            width: 580px;
            padding: 120px 0 26px;
        }
    }      
}

// slick css end

.top-slider__btn{
    border-radius: 3px;
    background-color: $acent;
    border: 0;
    color: #fff;
    width: 200px;
    height: 50px;
    font-size: 18px;
    line-height: 18px;
    transition: 0.3s;
    cursor: pointer;
    display: none;
    &:hover{
        background-color: #4C70C9;
    }
}

@media (min-width: 640px) {
    .top-slider__btn{
        display: inline-block;
    }
}

.top-slider__subtitle{
    width: 587px;
    margin: 0 auto 32px;
    display: none;
}

@media (min-width: 768px) {
    .top-slider__subtitle{
        display: block;
    }
}

@media (min-width: 1024px) {
    .top-slider__subtitle{
        margin-bottom: 16px;
    }
}

@media (min-width: 1440px) {
    .top-slider__subtitle{
        width: 886px;
        margin-bottom: 28px;
        font-size: 24px;
        line-height: 26px;
    }
}

// hero content end 
// section Call start

.call{
    min-height: 301px;
    color: #fff;
    text-align: center;
    background-color: $acent;
    padding: 40px 0;
    &__body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 640px) {
    .call{
        min-height: 83px;
    }
}

@media (min-width: 768px) {
    .call{
        min-height: 187px;
        text-align: left;
        &__body{
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

@media (min-width: 1024px) {
    .call{
        min-height: 160px;
    }
}

@media (min-width: 1440px) {
    .call{
        min-height: 192px;
        &__body{
            margin-top: 9px;
        }
    }
}

.about{
    min-height: 131px;
    &__title{
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
    }
    &__subtitle{
        font-family: 'Dosis-light', Arial, Helvetica, sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        margin: 10px auto 40px;
        max-width: 280px;
    }
}

@media (min-width: 640px) {
    .about{
        min-height: 73px;
        &__subtitle{
            max-width: none;
            margin: 13px 0 40px;
        }
    }
}

@media (min-width: 758px) {
    .about{
        min-height: 97px;
        width: 412px;
        &__subtitle{
            margin-bottom: 0;
            & span {
                display: block;
            }
        }
    }
}

@media (min-width: 1024px) {
    .about{
        width: 469px;
        min-height: 67px;
        &__subtitle{
            width: 469px;
            max-width: none;
            margin-top: 24px;
            font-size: 14px;
            line-height: 16px;
            & span{
                display: inline;
            }
        }
    }
}

@media (min-width: 1440px) {
    .about{
        min-height: 72px;
        &__title{
            line-height: 32px;
        }
    }
}

.call__btn{
    font-family: "Roboto-regular",Arial,Helvetica,sans-serif;
    color: $acent;
    background-color: $e-color;
    border-radius: 3px;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    width: 200px;
    height: 50px;
    transition: 0.3s;
    &:hover{
        transition: 0.3s;
        background-color: #3F65C3;
        color: #fff;
    }
}

// section Call end
// section service start

.service{
    padding: 25px 0 40px;
    position: relative;
}

@media (min-width: 768px) {
    .service{
        padding: 50px 0 40px;
    }
}

.text{
    min-height: 237px;
    text-align: center;
    margin-bottom: 40px;
    &__title{
        color: $acent;
        font-weight: normal;
        font-family: "RobotoCondensed-regular", Arial, Helvetica, sans-serif;
        font-size: 24px;
        line-height: 28px;
    }
    &__subtitle-up{
        display: none;
    }
    &__title-two{
        font-size: 19px;
        line-height: 24px;
        color: $text-color;
        width: 280px;
        margin: 0 auto;
    }
    &__subtitle{
        color: $text-color;
    }
}

@media (min-width: 640px) {
    .text{
        min-height: 235px;
        &__title{
            font-size: 48px;
            line-height: 56px;
        }
        &__subtitle-up{
            display: block;
            font-size: 24px;
            line-height: 24px;
            color: $text-color;
        }
        &__title-two{
            display: none;
        }
        &__subtitle{
            font-size: 18px;
            line-height: 24px;
        }
    }
}

@media (min-width: 768px) {
    .text p{
        text-align: left;
    }
}

@media (min-width: 1024px) {
    .text{
        &__subtitle-up{
            line-height: 26px;
        }
        &__subtitle{
            max-width: 608px;
        }
    }
}

@media (min-width: 1440px) {
    .text{
        width: 393px;
        position: absolute;
        left: 62px;
        &__title{
            text-align: left;
        }
        &__subtitle-up{
            margin-top: 64px;
        }
    }
}

.line{
    width: 100px;
    height: 8px;
    background-color: $acent;
    &_position{
        margin: 20px auto 47px;
    }
}

@media (min-width: 640px) {
    .line_position{
        margin: 30px auto;
    }
}

@media (min-width: 768px) {
    .line_position{
        margin: 32px 0;
    }
}

// services start

.services{
    border-left: 1px solid #F9F6E5;
    border-right: 1px solid #F9F6E5;
    border-top: 1px solid #F9F6E5;

    display: grid;
    grid-template-columns: 1fr;
    &__item{
        padding: 18px;
        & + .services__item{
            border-top: 1px solid #F9F6E5;
        }
    }
    &__content{
        transition: 0.3s;
        box-shadow: 0px 0px 0px 4px $acent inset; 
        padding: 42px 22px 28px;
        text-align: center;  
    }
    &__icon{
        margin-bottom: 13px;
        max-width: 64px;
    }
    &__title{
        color: $text-color;
        text-transform: uppercase;
    }
    &__subtitle{
        color: #9B9B9B;
        margin: 35px 0 16px;
    }
    &__btn{
        font-family: "RobotoCondensed-bold", Arial, Helvetica, sans-serif;
        line-height: 19px;
        font-weight: bold;
    }
}

@media (min-width: 640px) {
    .services{
        border: 0;
        grid-template-columns: repeat(2, 1fr);
        &::before{
            content: "";
            height: 1px;
            width: 100%;
            background-color: #F9F6E5;
            position: absolute;
            left: 0;
        }
        &::after{
            content: "";
            height: 1px;
            width: 100%;
            background-color: #F9F6E5;
            position: absolute;
            left: 0;
            bottom: 38px;
        }
        
        &__content{
            height: 287px;
        }
        &__item:first-child div > p{
            margin: 39px 0 16px;
        }
        &__item:nth-child(5) div > p {
            margin: 36px 0 34px;
        }
        &__item:nth-child(7) div > p {
            margin: 18px 0 15px;
        }
        &__item:nth-child(2n){
            border-left: 1px solid #F9F6E5;
        }
    }
}

@media (min-width: 1024px) {
    .services{
        grid-template-columns: repeat(4, 1fr);
        &__item{
            padding: 7px;
            &:nth-child(7) p {
                font-size: 14px;
            }
        }
        &__content{
            width: 222px;
        }
    }
}

@media (min-width: 1440px) {
    .services{
        position: absolute;
        right: 40px;
        border-left: 1px solid #F9F6E5;
        &::after{
            display: none;
        }
        &__content{
            width: 212px;
        }
    }
}

// services end

// section service end